In [1]:
# 1) Find the value of T(2) for the recurrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

In [ ]:
T(n)=3T(n-1)+12n

substitute n=1:
    
T(1)=3T(0)+12
T(1)=15+12=27

substitute n=2: 
    
T(2)=3T(1)+24
T(2)=3(27)+24=105

result=105

In [ ]:
# 2) Given a recurrence relation, solve it using the substitution method:

In [ ]:
a) T(n) = T(n-1) + c

In [ ]:
T(n-1)=T(n-2)+c

then,
T(n)=T(n-2)+2c

thus, for k times

T(n)=T(n-k)+kc

k=n-1
T(n)=T(1)+(n-1)c

In [ ]:
b) T(n) = 2T(n/2) + n

In [ ]:
T(n/2)=2T(n/4)+n/2

then,
T(n)=2(2 T(n/4)+n/2)+n
     T(n)=4T(n/4)+2n
    
    thus, for k times
    
    T(n)= 2^k T(n/2^k)+kn
    by substituting  n=2^k:
        
    n=2^k then k=logn base2 
    T(n)=nT(1)+(logn base2) *n

In [ ]:
 c) T(n) = 2T(n/2) + c

In [ ]:
T(n/2)=2T(n/4)+c

    then,
    T(n)=2(2 T(n/4)+c)+c
     T(n)=4T(n/4)+3c
        
    thus, for k times
    
    T(n)= 2^k T(n/2^k)+(2k-1)c
    by substituting n=2^k 
    n=2^k then k=logn base2 
    T(n)=nT(1)+(2(logn base2)-1) *c

In [ ]:
d) T(n) = T(n/2) + c

In [ ]:
 T(n/2)=T(n/4)+c
    
    then,
    T(n)= T(n/4)+c+c
     T(n)=T(n/4)+2c
        
    thus, for k times
    
    T(n)= T(n/2^k)+kc
     thus by substituting  n=2^k 
    n=2^k then k=logn base2 
    T(n)=T(1)+(logn base2)*c

In [ ]:
#3) Given a recurrence relation, solve it using the recursive tree approach:

In [ ]:
a) T(n) = 2T(n-1) +1

In [ ]:
            T(n)
           /    \
      T(n-1)      T(n-1)
        /  \          /   \
    T(n-2) T(n-2) T(n-2) T(n-2)
      ...   ...   ...   ...
       |     |     |     |
  
thus, for k times
LEFT SIDE              RIGHT SIDE
n-k=0                   n-k=0

Level 0: 1T(n)
Level 1: 2T(n-1)
Level 2: 4T(n-2)
Level 3: 8T(n-3)
.
.
.
T(n)+2T(n−1)+4T(n−2)+8T(n−3)+…+2^kT(n−k)
if we substitute n-k=1 i.e. k=n-1 
T(n)+2T(n−1)+4T(n−2)+8T(n−3)+…+2^(n-1)T(1)
by geometric progression 
T(n)=2^n-T(1)
O(2^n)

In [ ]:
b) T(n) = 2T(n/2) + n

In [ ]:
         T(n)---------n
       /    \
 T(n/2)       T(n/2)-------2(n/2)
   / \          /   \
T(n/4) T(n/4) T(n/4) T(n/4) ------4(n/4)
  / \    ...   ...   ...
...  ...
Now, 
LHS
n/2^(k)=1        The depth of the tree is logn base 2.
k=log n base 2
Now,

T(n)=n+n/2+n/4+n/8.......+n/2^k
T(n)=n(1+1/2+1/4+.........1/2 ^logn base 2)
by geometric progression 
sum of the series is 1/1-r=2
T(n)=n(2)
time complexity is  O(n)